<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>Here is List of Project: <a href = {{welcomeMessage}}>Go to Github Page</a></p>
  {{> footer}}
  </body>
</html>
